// = author styles =
// Copyright (C) 2021 Anna Surovkova, Petr Kucera
// ===============================================

$banner-orange: #ffaf72;
$banner-yellow: #ffde42;

.campaign-banner {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-bottom: 2rem;
   text-align: center;
   text-decoration: none;
   font-weight: 600;
   background: linear-gradient(90deg, $banner-yellow 0%, $banner-orange 100%);
  
   p {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: var(--campaign-banner-black);
      font-size: 1.2rem;
      width: 90vw;
      a {
         color: var(--black);
      }
   }

   a {
      margin-top: calc(0.4rem + 1em);
   }

   button {
      margin-bottom: 2rem;
      outline: none;
      border: none;
      background-color: var(--white);
      @include ms-depth-16;
      padding: 0.4rem;
      cursor: pointer;
      font-weight: 600;

      @include ms-motion-scaleDownIn;
      transition: $ms-motion-timing-decelerate $ms-motion-duration-4;

      &:hover{
         transform: scale(1.05);
      }

      i {
         margin-left: 0.3rem;
      }
   }
}
